@model testapp.Models.User
@{
    ViewBag.Title = "Main";
}
<p><a href="@Url.RouteUrl("register")">Register</a></p>
@using (Html.BeginForm())
{
    @Html.ValidationSummary()
    <div>
        @Html.LabelFor(x=>x.Username)
        @Html.EditorFor(x=>x.Username)
    </div>
    <div>
        @Html.LabelFor(x=>x.Password)
        @Html.EditorFor(x=>x.Password)
    </div>
    <div>
        <input type="submit" value="Submit"/>
    </div>
}

@section javaScriptInline
{
    <script>
        console.log("Main Page");
    </script>
}

